<div>
    <a href="{% url 'agenda_index' letra='A' %}"> A </a>
    <a href="{% url 'agenda_index' letra='B' %}"> B </a>
    <a href="{% url 'agenda_index' letra='C' %}"> C </a>
    <a href="{% url 'agenda_index' letra='D' %}"> D </a>
    <a href="{% url 'agenda_index' letra='E' %}"> E </a>
    <a href="{% url 'agenda_index' letra='F' %}"> F </a>
    <a href="{% url 'agenda_index' letra='G' %}"> G </a>
    <a href="{% url 'agenda_index' letra='H' %}"> H </a>
    <a href="{% url 'agenda_index' letra='I' %}"> I </a>
    <a href="{% url 'agenda_index' letra='J' %}"> J </a>
    <a href="{% url 'agenda_index' letra='K' %}"> K </a>
    <a href="{% url 'agenda_index' letra='L' %}"> L </a>
    <a href="{% url 'agenda_index' letra='M' %}"> M </a>
    <a href="{% url 'agenda_index' letra='N' %}"> N </a>
    <a href="{% url 'agenda_index' letra='O' %}"> O </a>
    <a href="{% url 'agenda_index' letra='P' %}"> P </a>
    <a href="{% url 'agenda_index' letra='Q' %}"> Q </a>
    <a href="{% url 'agenda_index' letra='R' %}"> R </a>
    <a href="{% url 'agenda_index' letra='S' %}"> S </a>
    <a href="{% url 'agenda_index' letra='T' %}"> T </a>
    <a href="{% url 'agenda_index' letra='U' %}"> U </a>
    <a href="{% url 'agenda_index' letra='V' %}"> V </a>
    <a href="{% url 'agenda_index' letra='W' %}"> W </a>
    <a href="{% url 'agenda_index' letra='X' %}"> X </a>
    <a href="{% url 'agenda_index' letra='Y' %}"> Y </a>
    <a href="{% url 'agenda_index' letra='Z' %}"> Z </a>
    </div>