<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .input {
            background-color:green;
        }

        .email {
            background-color:red;
        }

        .errorlist {
            background-color:grey;
        }


        .msg {
            background-color:blue;
        }

        .btn_enviar {
            background-color:yellow;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        {{contexto.as_p}}
        <input type="submit" value="ENVIAR" class="btn_enviar">
    </form>
</body>
</html>