<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"> <!-- action="" cuando s ehaga submit va a ir a la misma url, name="form_precargado"-->
        {% csrf_token %}
       <!--{{coment_form}} campos en cada parrafo--> 
       <table>
        {{coment_form}}  <!-- campos en modo tabla--> 
       </table>
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>