<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> Usando plantilla accionesEnLista<h1>
<h2>Categorias: {{categorias}} </h2>
<h3>Cantidad: {{categorias|length}}</h3>      

{% for c in categorias reversed %}
<li>{{c}}</li>
{% endfor %}

{% for c in categorias %}
<li>{{forloop.counter}} {{c}}</li>
{% endfor %} 
<br>
{% for c in categorias %}
<li>{{forloop.revcounter}} {{c}}</li>
{% endfor %}  
<br>
{% for c in categorias %}
<li
{% if forloop.last %} {# forloop.first #}
style='background-color:red;text-align: center;' {% endif %}>{{c.upper}}</li>
{% endfor %}     
<br>
{% for c in categorias %}
{% if forloop.last %}
<li style='background-color:blue;text-align: center;'> {{c.upper}}</li>
{% endif %}
<li>{{c}}</li>
{% endfor %}     

</body>
</html>