<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Usando plantilla comentarios<h1>
        
        {% comment "comentarios dentro de html" %} 
        {% endcomment %}
        {# otra forma de comentar #}
        <h3>{# comentario!!! #}</h3>
        {% for c in categorias %}
        <p>{{c}}</p>
        {% endfor %}

        {{categorias.1}}
</body>
</html>